/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f1f2f4;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f0f0f0;
}
.footer > .container {
    padding-top: 15px;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #597da3;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 40px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: rgba(75,109,148,.65);
}

.navbar-inverse .navbar-nav>.open>a i,
.navbar-inverse .navbar-nav>.open>a:focus i,
.navbar-inverse .navbar-nav>.open>a:hover i,
.navbar-inverse .navbar-nav>li>a:focus i,
.navbar-inverse .navbar-nav>li>a:hover i {
    color: #FFF;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #47698f;
}

.navbar-fixed-top .badge {
    background-color: #47698f;
    color: #d9e2ec;
}

@media(max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #e0e0e0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #47698f;
    }
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden; /*auto Scrollable contents if viewport is shorter than content. */
    margin-bottom: 60px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #597da3;
}
.nav-sidebar > .active > a > .badge {
    color: #337ab7;
    background-color: #fff;
    position: absolute;
    right: 5%;
    top: 12px;
}
.nav-sidebar .btn-success:hover,
.nav-sidebar .btn-success:focus {
    color: #FFF;
    background-color: #449d44;
    border-color: #398439;
}

.sidebar .nav-sidebar > li {
    border: 1px solid #e1e2e6;
    border-left: 0;
    background: #FFF;
    margin-bottom: 10px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*****************************************************/
.table>thead>tr>th, .vkhead {
    color: #47698f;
}
.brick img {
    margin: 0;
    display: block;
    border: solid 1px #e6e7eb;
}
.jscroll-inner {
    height: 100%;
    width: 100%;
}
#video-list > .jscroll-inner {
    display: inline-block;
}
.list-group > li > label {
    min-width: 100px;
    text-align: right;
    margin-right: 15px;
    font-size: 105%;
    padding-right: 15px;
    border-right: 1px solid #ddd;
}
.list-group > li {
    margin-top: .25em;
    margin-bottom: .25em;
}
.list-group > div {
    border-bottom: 1px solid #ddd;
    margin-bottom: .5em;
    padding-bottom: .25em;
}
.nav-pills > li > a > .badge {
    position: absolute;
    right: 20px;
}
.navbar-nav > li > a > i {
    padding: 3px 10px;
    color: #47698f;
    font-size: 24px;
    vertical-align: middle;
}
.nav-sidebar > .active > a > .label {
    background-color: #FFF;
    color: #428bca;
}

.table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}
.table>tbody>tr:first-child>td {
    border-top:0;
}

/* AUDIO.js */
.ajs {
    margin-bottom: 90px;
}
.ajs ol { padding: 0px; margin: 20px auto; list-style: decimal-leading-zero inside; color: #ccc; max-width: 960px; border-top: 1px solid #ccc; font-size: 0.9em; }
.ajs ol li { position: relative; margin: 0px; padding: 9px 65px 10px 12px; border-bottom: 1px solid #ccc; cursor: pointer; }
.ajs ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
.ajs li.playing {
    color: #fff;
    background-color: #428bca;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}
.ajs li.playing a {
    color: #FFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.ajs li.playing:before { content: ''; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
.ajs .badge {
    position: absolute;
    right: 5px;
}
.ajs .playing .badge{
    background-color: #428bca;
}
.ajs-player {
    position: fixed;
    right: 0;
    bottom: 60px;
    z-index: 10;
    background-color: #e8e8e8;
    width: 100%;
}
.audiojs .play-pause {
    box-sizing: content-box;
}
#video-list .col-sm-4 {
    margin-bottom: 1em;
}
#video-list .panel-heading {
    height: 42px;
    overflow: hidden;
}
#video-list .panel-title {
    font-size: 100%;
}
#video-list .label {
    font-size: 85%;
    position: absolute;
    right: 20px;
    bottom: 25px;
}
#video-list img {
    max-width: 130px;
    margin: 0 auto;
}
.fancybox-title-inside-wrap {
    padding: 10px 20px;
    overflow: hidden;
    height: 40px;
}
.expander {
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
}
.toggle-group label, .toggle-group, .toggle {
    box-sizing: content-box; /* IE 11 */
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
}.white-box {
    background: #fff;
    border: solid 1px #e6e7eb;
}
.white-box .row {
    margin: 0;
}
.wall-body {
    /*background: #f1f2f4;*/
}
.wall-box {
    margin-bottom:25px;padding:10px 20px 10px;position:relative;
    background: #fff;
    box-shadow: 0 1px 0 0 #e1e2e6, 0 0 0 1px #e6e7eb;
}
img.wall-ava {
    max-width:50px;max-height:50px;border-radius:50%;float:left;
}
.wall-head {
    height:50px;display:inline-block;margin-left:15px;margin-bottom:15px;padding-top:6px;
}
.wall-head a {
    font-weight:bold;
}
.wall-head span {
    font-size:.75em;;color:#939699;
}
.repost {
    margin-left: -5px;
}
.repost-box {
    border-left: 2px solid #dee6ee;
    padding-left: 12px;
    margin: 5px 0 0;
}
.wall-video-box {
    position: relative;
    /*width: 510px;*/
    margin: 0 auto;
    padding: 10px 0 4px;
}
.wall-video-box a {
    height:286px;
    /*width: 510px;*/
    display: block;
    background-position: 50%;
    background-size: cover;
}
.wall-video-duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1em;
}
.wall-video-header {
    /*width: 510px;*/
    margin: 10px auto;
}
.wall-link-img {
    height: 228px;
    overflow: hidden;
    position: relative;
}
.wall-link-caption {
    position: absolute;
    left: 15px;
    bottom: 10px;
    padding: 3px 8px;
    background: rgba(0,0,0,.5);
    color: #bbb;
    border-radius: 4px;
}
.wall-link-caption:hover,
.wall-link-caption:active {
    color: #fff;
}
.wall-description {
    font-size: 13px;
}
.post-id {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 10px;
    color: #aaa;
}