/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f1f2f4;
}
a {
    color: #2a5885;
}
a:hover {
    color: #315b8c;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f0f0f0;
}
.footer > .container {
    padding-top: 15px;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 65px;
}


/*
 * Global add-ons
 */

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  margin-bottom: 1em;
}

.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #597da3;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li> .morphing-btn-wrap > a{
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 40px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>.morphing-btn-wrap>a:focus,
.navbar-inverse .navbar-nav>li>.morphing-btn-wrap>a:hover{
    background-color: rgba(75,109,148,.65);
}

.navbar-inverse .navbar-nav>.open>a i,
.navbar-inverse .navbar-nav>.open>a:focus i,
.navbar-inverse .navbar-nav>.open>a:hover i,
.navbar-inverse .navbar-nav>li>a:focus i,
.navbar-inverse .navbar-nav>li>a:hover i,
.navbar-inverse .navbar-nav>li>.morphing-btn-wrap>a:focus i,
.navbar-inverse .navbar-nav>li>.morphing-btn-wrap>a:hover i{
    color: #FFF;
}

.nav>li>.morphing-btn-wrap>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #47698f;
}

.navbar-fixed-top .badge {
    background-color: #47698f;
    color: #d9e2ec;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.badge-sup {
    margin-top: -15px;
}

@media(max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #e0e0e0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #47698f;
    }
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 480px) {
  .indexbar {
    z-index: 1000;
    display: block;
    margin-top: 20px;
  }
  .indexbar > .nav-sidebar {
    margin: auto;
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden; /*auto Scrollable contents if viewport is shorter than content. */
    margin-bottom: 60px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #597da3;
}
.nav-sidebar > .active > a > .badge {
    color: #337ab7;
    background-color: #fff;
    position: absolute;
    right: 5%;
    top: 12px;
}
.nav-sidebar .btn-success:hover,
.nav-sidebar .btn-success:focus {
    color: #FFF;
    background-color: #449d44;
    border-color: #398439;
}

.sidebar .nav-sidebar > li {
    border: 1px solid #e1e2e6;
    border-left: 0;
    background: #FFF;
    margin-bottom: 10px;
}

.albums-list > a {
    padding-right: 10px !important;
}
.albums-list span {
    color: #aaa;
    float: right;
    margin-right: 5px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*****************************************************/
.table>thead>tr>th, .vkhead {
    color: #777;
    padding: 0 10px;
}
.brick img {
    margin: 0;
    display: block;
    border: solid 1px #e6e7eb;
}
.jscroll-inner {
    height: 100%;
    width: 100%;
}
#video-list > .jscroll-inner,
#video-list > .jscroll-inner > .jscroll-added,
#docs-list > .jscroll-inner,
#docs-list > .jscroll-inner > .jscroll-added {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#video-list > .jscroll-inner > .jscroll-added,
#docs-list > .jscroll-inner > .jscroll-added {
    margin-left: auto;
    margin-right: auto;
}
.list-group > li > label {
    min-width: 100px;
    text-align: right;
    margin-right: 15px;
    font-size: 105%;
    float: left;
}
.list-group > li {
    margin-top: .25em;
    margin-bottom: .25em;
}
.list-group > li > p {
    margin-left: 115px;
    padding-left: 15px;
    border-left: 1px solid #ddd;
}
.list-group > div {
    border-bottom: 1px solid #ddd;
    margin-bottom: .5em;
    padding-bottom: .25em;
}
.nav-pills > li > a > .badge {
    position: absolute;
    right: 20px;
}
.navbar-nav > li > a > i,
.navbar-nav > li > .morphing-btn-wrap > a > i {
    padding: 3px 10px;
    color: #47698f;
    font-size: 24px;
    vertical-align: middle;
}
.nav-sidebar > .active > a > .label {
    background-color: #FFF;
    color: #428bca;
}

.table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}
/*.table>tbody>tr:first-child>td {
    border-top:0;
}*/

.video-preview,
.docs-preview {
    margin: 10px 10px 0 10px;
    height:180px;
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.video-preview a,
.docs-preview a {
    display: block;
    width: 100%;
    height: 100%;
}
.video-info,
.docs-info {
    padding: 5px 10px;
}
.video-details {
    position:fixed;
    top:0;left:0;
    background:#fff;
    height:100%;
    padding-top:120px;
}
.video-details-bg {
    opacity:.8;
    background:#000;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.details-close {
    position:absolute;
    top:65px;
    right:15px;
    font-size:2.5em !important;
    color:#ccc;
    cursor: pointer;
}
.details-close:hover {
    color: #d9534f;
}
.video-title,
.docs-title {
    margin-bottom: 5px;
    height: 20px;
    overflow: hidden;
}
.video-status {
    text-align: right;
    font-size: 12px;
    color: #939699;
}
.video-title {
    cursor: pointer;
}

.fancybox-slide--iframe .fancybox-content {
	width  : 100% !important;
	height : 100% !important;
	max-width  : 80%;/*1340px;*/
	max-height : 80%;/*820px;*/
	margin: 0;
}

.fbox-controls {
    position: absolute;
    top: 0;
    right: -36px;
    width: 36px;
    height: 84px;
    opacity: .7;
    text-align: center;
    line-height: 1;
}
.fbox-minimized .fbox-controls {
    top: -23px;
    right: 10px;
    width: 100px;
}
.fbox-maximize {
    display: none;
}
.fbox-close, .fbox-minimize, .fbox-maximize {
    color: #ccc;
    margin-bottom:20px;
}
.fbox-minimized .fbox-close, .fbox-minimized .fbox-minimize, .fbox-minimized .fbox-maximize {
    display: inline-block;
    float: right;
    margin-left: .5em;
    margin-bottom: 0;
    line-height: 25px;
}
.fbox-close:hover, .fbox-minimize:hover, .fbox-maximize:hover {
    color: #FFF;
}
.fbox-close {
    font-size: 2em;
}
.fbox-minimized .fbox-close {
    font-size: 1.25em;
}
.fbox-minimize {
    font-size: 2em;
}
.fbox-minimized .fbox-maximize {
    font-size: 1.25em;
}
.fbox-minimized-overlay {
    position: fixed !important;
    top: auto !important;
    bottom: 60px !important;
    left: 60px !important;
    overflow: hidden !important;
    width: 420px !important;
    height: 250px !important;
}

.fbox-minimized {
    right: 5px;
    height: 25px;
    width: 150px;
}

.video-status b,
.video-title,
.docs-title {
    color: #33567f;
}
.video-preview .label,
.docs-preview .label,
.video-preview .badge,
.docs-preview .badge{
    font-size: 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.video-filter-box,
.docs-filter-box {
    position:absolute;right:2rem;top:40px;z-index:2;box-shadow:0px 3px 5px rgba(0,0,0,.3);width:370px;padding:.75rem;display: none;
}
.video-filter-box label,
.docs-filter-box label {
    min-width: 100px;
    line-height: 35px;
    text-align: right;
    margin-right:10px;
}
.video-qsearch {
    position: absolute;
    right: 5rem;
}
.play-icon,
.docs-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 32%;
    left: 41%;
    background: #000;
    opacity: .7;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}
.docs-icon {
    display: block;
}
.video-preview:hover .play-icon {
    display: block;
}
.play-icon .fa,
.docs-icon .fa {
    color: #ccc;
    font-size: 30px;
}
.play-icon .fa {
    padding: 16px 20px;
}
.docs-icon .fa {
    padding: 16px 18px;
}
#video-list .col-sm-4,
#docs-list .col-sm-4 {
    margin-bottom: 1em;
}
.fancybox-title-inside-wrap {
    padding: 10px 20px;
    overflow: hidden;
    height: 40px;
}
.expander {
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
}
.toggle-group label, .toggle-group, .toggle {
    box-sizing: content-box; /* IE 11 */
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
}
.white-box {
    background: #fff;
    border: solid 1px #e6e7eb;
}
.white-box .row {
    margin: 0;
}
.wall-body {
    /*background: #f1f2f4;*/
}
.wall-box {
    margin-bottom:25px;padding:10px 20px 10px;position:relative;
    background: #fff;
    box-shadow: 0 1px 0 0 #e1e2e6, 0 0 0 1px #e6e7eb;
}
img.wall-ava {
    max-width:50px;max-height:50px;border-radius:50%;float:left;
}
.wall-head {
    height:50px;display:inline-block;margin-left:15px;margin-bottom:15px;padding-top:6px;
}
.wall-head a {
    font-weight:bold;
}
.wall-head span {
    font-size:.75em;;color:#939699;
}
.repost {
    margin-left: -5px;
}
.repost-box {
    border-left: 2px solid #dee6ee;
    padding-left: 12px;
    margin: 5px 0 0;
}
.wall-video-box {
    position: relative;
    /*width: 510px;*/
    margin: 0 auto;
    padding: 10px 0 4px;
}
.wall-video-box a {
    height:286px;
    /*width: 510px;*/
    display: block;
    background-position: 50%;
    background-size: cover;
}
.wall-video-duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1em;
}
.wall-video-header {
    /*width: 510px;*/
    margin: 10px auto;
}
.wall-link-img {
    height: 228px;
    overflow: hidden;
    position: relative;
}
.wall-link-caption {
    position: absolute;
    left: 15px;
    bottom: 10px;
    padding: 3px 8px;
    background: rgba(0,0,0,.5);
    color: #bbb;
    border-radius: 4px;
}
.wall-link-caption:hover,
.wall-link-caption:active {
    color: #fff;
}
.wall-description {
    font-size: 13px;
}
.post-id {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 10px;
    color: #aaa;
}
.placeholders {
    background: #fff;
    border: 1px solid #e1e2e6;
}
.pic-albums {
    margin-bottom: 20px;
    overflow: hidden;
    height: 200px;
    cursor: pointer;
}
.pic-albums .col-sm-3 {
    padding: 0px 5px 10px;
}
.pic-albums a,
.pic-albums a:hover,
.pic-albums a:active,
.pic-albums a:visited {
    display:block;min-height:150px;position:relative;background-size:cover;background-position:50%;color:#fff;
    border: solid 1px #e6e7eb;
}
.pic-albums span {
    position:absolute;left:0;bottom:0;display:block;background-color:rgba(0,0,0,.6);width:100%;padding:2px 10px;
}
.pic-albums-more {
    background: #fff;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: solid 1px #e6e7eb;
    color: #aaa;
}
.libs-row { border-left:solid 2px #e0e0e0; }
.libs-row:first-child { border:0; }
.libs-row span { float: right; }

.xs-show { display: none; }

@media(max-width: 767px){
    .libs-row{ border: 0; }
    .pic-albums {height:300px;}
    .pic-albums a, .pic-albums a:hover, .pic-albums a:active, .pic-albums a:visited { min-height:250px; }
}

@media(max-width: 640px){
    .xs-show {display: inline-block; }
}

.db-expired {text-align: center;display: block;font-size: 1em;white-space: normal;font-weight: normal;}
.db-expired a { color: #fff;font-weight: bold;text-decoration: underline; }

/* Placeholder color */
::-webkit-input-placeholder { color: #ccc; } /* WebKit, Blink, Edge */
:-moz-placeholder { color: #ccc;opacity: 1; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #ccc;opacity: 1; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #ccc; } /* Internet Explorer 10-11 */
::-ms-input-placeholder { color: #ccc; } /* Microsoft Edge */
/* Placeholder color end */

/* Fancybox -- modal */
.morphing-btn-wrap {
  position: relative;
}

.morphing-btn {
  -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
  transition: color 0.3s 0.2s, width 0.2s 0s;
  white-space: nowrap;
  box-sizing: border-box;
}

.morphing-btn_circle {
  color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  width: 35.6px !important;

  /* Override inline style rule */
  -webkit-transition: color 0.2s 0s, width .3s 0.2s;
  -moz-transition: color 0.2s 0s, width .3s 0.2s;
  -o-transition: color 0.2s 0s, width .3s 0.2s;
  transition: color 0.2s 0s, width .3s 0.2s;
}

.morphing-btn-clone {
  position: fixed;
  background: #f1f2f4;
  border-radius: 50%;
  z-index: 3;
  -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.morphing-btn-clone_visible {
  display: block;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}

.fancybox-morphing .fancybox-bg {
  background: #f1f2f4;
  opacity: 1;
}

.fancybox-morphing .fancybox-toolbar {
  top: 20px;
  right: 40px;
}

.fancybox-morphing .fancybox-button--close {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.fancybox-morphing .fancybox-button--close::after, 
.fancybox-morphing .fancybox-button--close::before {
    height: 1.55px;
    width: 22px;
    left: calc(50% - 11px);
}

.fancybox-morphing .fancybox-button--close:hover {
  background: rgba(0, 0, 0, 0.25);
}

/* Styling for element used in example */

#morphing-content {
  margin: 0;
  position: relative;
  background: transparent;
  color: #fff;
  padding: 6em 10vw;
  line-height: 2;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#morphing-content a {
  color: #fff;
}
/* Fancybox -- modal END */